
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif;
}

:root{
    --verde-escuro: #14424b;
    --verde: #2f9364;
    --laranja: #ff7c37;
    --degrade-botao: linear-gradient(#fe9611,#ff5c00);
    --color-p: #a1a1a1;
    --color-p2: #868585; 
}

.background-verde{
    background:var(--verde-escuro);

}
/*Classes reutilizáveis*/
.container{
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}
.gradient-button {
    padding: 10px 25px;
    color: white;
    border: none;
    cursor: pointer;
    background-image: var(--degrade-botao);
}

/*classes do site*/

nav{
    display: flex;
    justify-content: space-between; /*espaço entre itens nav*/
    align-items: center;
    padding: 20px 0;
}

.logo a{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.ul {
    display: flex;
    align-items: center;
}

.ul li{
    margin: 0 35px;
    font-size: 15px;
}

.ul li a{
    color: white;
}

/* main */

main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.main-text{
    width: 50%;
    color: white;
}

.main-text h1 {
    font-size: 4.5rem;
}

.main-text div{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.main-img {
    width: 50%;   
}

.main-img img{
    width: 100%;
}

/*icone de menu*/

.icone-menu{
    display: none;
    position: relative;
    z-index: 10;
}

/* botão de menu responsivo */

@media (max-width: 960px) {
    .icone-menu{
        display: block;
    }
    .ul{
        position: fixed;
        background: var(--verde-escuro);
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.3s;
        flex-direction: column;
        justify-content: center;
    }
    .ul li{
        font-size: 20px;
        margin: 20px 0;
    }

    .ul.ativo{
        left: 0;
    }

    main .container{
        flex-direction: column;
    }

    main .container .main-img,
    main .container .main-text{
        width: 100%;
        text-align: center;
    }
    main .container .main-text div{
        justify-content: center;
    }
    main .container .main-text h1{
        font-size: 4rem;
    }
    
}

